# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
dist
build

# Git
.git
.gitignore

# IDE / OS
.idea
.vscode
*.swp
.DS_Store

# Env (à copier manuellement si besoin en build)
.env*.local
.env

# Debug / test
npm-debug.log*
coverage
.nyc_output
*.log

# Documentation
README.md
*.md
